[submodule "asyncglk"]
	path = asyncglk
	url = ../../curiousdannii/asyncglk.git
[submodule "garglk"]
	path = garglk
	url = ../../garglk/garglk.git
[submodule "git"]
	path = git
	url = ../../DavidKinder/Git.git
[submodule "glulxe"]
	path = glulxe
	url = ../../erkyrath/glulxe.git
[submodule "hugo"]
	path = hugo
	url = ../../hugoif/hugo-unix.git
[submodule "remglk"]
	path = remglk
	url = ../../curiousdannii/remglk-rs.git
[submodule "tads"]
	path = tads
	url = ../../tads-intfic/tads-runner.git
