[submodule "git"]
	path = git
	url = https://github.com/curiousdannii/Git.git
[submodule "glulxe"]
	path = glulxe
	url = https://github.com/curiousdannii/glulxe.git
[submodule "hugo"]
	path = hugo
	url = https://github.com/curiousdannii/hugo.git